html,
body {
  padding: 0;
  margin: 0;
  color: var(--darkgray);
  background-color: var(--lightgray);
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}

header {
  display: flex;
  max-width: var(--ten-column-width);
  margin: 0 auto;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hero-inner {
  max-width: var(--ten-column-width);
  margin: 0 auto;
  width: 100%;
  color: var(--primary-color);
  padding: 2rem;
}

.tmpl-home,
.tmpl-post {
  max-width: var(--ten-column-width);
  margin: 0 auto;
}

.tmpl-post {
  img {
    display: block;
    max-width: var(--eight-column-width);
    margin: 0 auto;
    width: 100%;
  }
}

.hero {
  background: var(--secondary-color);
  height: 80vh;
  margin-bottom: 2rem;
}

.hero-inner__social-icons {
  display: flex;
  align-items: center;
}

.logo  {
  display: flex;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
  svg {
    width: 3.2rem;
  }
}