html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--darkgray);
  background-color: var(--lightgray);
}

main :first-child {
  margin-top: 0;
}

.tmpl-home,
.tmpl-post,
.tmpl-post-list {
  max-width: var(--ten-column-width);
  margin: 0 auto;
}

.tmpl-post {
  img {
    display: block;
    max-width: var(--eight-column-width);
    margin: 0 auto;
    width: 100%;
  }

  .hero-inner {
    background: var(--primary-color);
    color: var(--white);
    padding: 0;

    h1 {
      font-size: 3.5rem;
    }
  }
}

.tmpl-post-list {
  padding: 2rem 0 4rem 0;
}

.hero-inner__social-icons {
  display: flex;
  align-items: center;
}

.see-more__container {
  display: flex;
  justify-content: flex-end;
}