:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #013E4A;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --primary-color: #16697A;
  --secondary-color: #F0E6DA;
  --twelve-column-width: 60rem;
  --ten-column-width: 48.75rem;
  --eight-column-width: 38.75rem;
}