:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #F8FAFA;
  --gray: #E5E5E5;
  --gray700: #96999A;
  --darkgray: #146171;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --primary-color: #16697A;
  --secondary-color: #F5F2ED;//EDE7E3; //F0E6DA
  --highlight-color: #82C0CC;
  --primary-font-color: #115664;
  // TODO: Should do some maths here and base everything from 12 column
  --twelve-column-width: 60rem;
  --ten-column-width: 48.75rem;
  --eight-column-width: 38.75rem;
  --six-column-width: 30rem;
  --top-layer: 100;
}