.footer {
  background-color: var(--secondary-color);
  text-align: center;

  p {
    font-size: 1rem;

    span {
      color: var(--highlight-color);
    }
  }
}

.footer__container {
  display: flex;
  text-align: left;
  justify-content: center;
  max-width: var(--ten-column-width);
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
    padding: 0;
  }
}

.footer__social-share-icons {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    padding: 0 0.3rem;
    margin: 0 0.3rem;

    &:hover svg {
      fill: var(--highlight-color);
    }
  }

  svg {
    fill: var(--primary-color);
    width: 23px;
    height: 23px;
    transition: fill 0.07s ease-out;
  }

  @media (min-width: $md) {
    justify-content: flex-start;
  }
}

.icon-twitter svg {
  width: 20px;
}

.footer__mailchimp {
   @media (min-width: $md) {
    margin-right: 2.5rem;
  }
}