.footer {
  background-color: var(--secondary-color);
  text-align: center;

  p {
    font-size: 1rem;
  }
}

.footer__container {
  display: flex;
  text-align: left;
  justify-content: center;
  max-width: var(--ten-column-width);
  margin: 0 auto;
  padding: 0 1rem;
  flex-direction: column;

  @media (min-width: $md) {
    flex-direction: row;
    padding: 0;
  }
}

.footer__social-share-icons {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    padding: 0 0.3rem;
    margin: 0 0.3rem;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.6;

    }
  }

  svg {
    fill: var(--primary-color);
    width: 23px;
    height: 23px;
  }

  @media (min-width: $md) {
    justify-content: flex-start;
  }
}

.footer__mailchimp {
   @media (min-width: $md) {
    margin-right: 2.5rem;
  }
}