.hero {
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;

  &.tmpl-post {
    max-width: 100%;
    height: 60vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media (min-width: $md) {
    padding: 0;
  }
}

.hero-inner {
  color: var(--primary-color);
  max-width: var(--ten-column-width);
  margin: 0 auto;
  padding: 0.8rem 0;
  width: 100%;

  h1 {
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-family: var(--font-family-heavy);
    font-size: var(--heading-two);

    @media (min-width: $md) {
      font-size: var(--heading-one);
    }
  }

  p {
    color: var(--primary-color);
    font-family: var(--font-family-medium);
    margin-top: 0;

    br {
      display: none;

      @media (min-width: $md) {
        display: block;
      }
    }
  }

  @media (min-width: $md) {
    padding: 6rem 0;
    text-align: center;
  }
}