.nav-container {
  width: 100%;
  background: var(--secondary-color);
  position: absolute;

  nav {
    display: flex;
    max-width: var(--ten-column-width);
    margin: 0 auto;
    padding: 0.3rem 1rem 0;
    justify-content: space-between;
    align-items: center;
    width: auto;

    @media (min-width: $md) {
      padding-top: 0.3rem;
    }
  }
}

.nav-container__logo {
  display: flex;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;

  &:hover {
    opacity: 0.7;
  }

  svg {
    width: 2.7rem;
  }
}

.nav {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  font-family: 'AvenirLTPro-medium', system-ui, sans-serif;
  margin-right: 1rem;

  a {
    color: var(--primary-color);
  }
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}