.tmpl-post-list .h2 {
  letter-spacing: 1px;
}

.post-card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
              0px 1px 1px 0px rgba(0, 0, 0, 0.14),
              0px 1px 3px 0px rgba(0, 0, 0, .12);
  position: relative;
  border-radius: 5px;
  background-color: var(--highlight-color);
}

.post-card__inner {
  border-radius: 5px;
  border: 2px solid var(--primary-color);
  padding: 1rem 1rem;
  display: block;
  color: var(--primary-font-color);
  text-decoration: none;
  transition: transform .07s ease-out;

  @media (min-width: $md) {
    padding: 1.5rem 1.6rem;
  }
}

.post-card:hover .post-card__inner {
  transform: translate(-10px, -10px);
}

.post-card__excerpt {
  display: block;
  word-wrap: break-word;
}

.post-card__info {
  margin-bottom: 0.3rem;
  word-spacing: -0.5px;
}

.post-card__title {
  margin-bottom: 0.8rem;
  word-wrap: break-word;
  z-index: 11;

  &:after {
    background: var(--white);
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
}

.post-card__read-more {
  font-family: var(--font-family-heavy);
  color: var(--link-color);
}