<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="robots" content="index,follow">
    <meta name="monetization" content="$ilp.uphold.com/4b4L76Wb4jE9">

    <link rel="preload" as="font" href="{{ '/assets/fonts/AvenirLTPro-Book/font.woff2' | url}}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ '/assets/fonts/AvenirLTPro-Heavy/font.woff2' | url}}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ '/assets/fonts/AvenirLTPro-Medium/font.woff2' | url}}" type="font/woff2" crossorigin>
    <link rel="preload" as="font" href="{{ '/assets/fonts/BlackDiamond/font.woff2' | url}}" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="{{ '/assets/styles/main.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="icon" type="image/ico" sizes="32x32" href="{{ "/assets/images/favicon.ico" | url }}">
    <script async defer data-domain="jonathanyeong.com" src="https://plausible.io/js/plausible.js"></script>
    {% block ogtags %}
    {% endblock %}
  </head>
  <body>
    <div class="nav-container">
      <nav>
        <a href="{{ '/' | url }}" class="nav-container__logo">{% include '../../assets/icons/logo.svg' %}</a>
        <ul class="nav">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %}
        </ul>
      </nav>
    </div>

    {% block header %}
      <div class="hero">
        <div class="hero-inner">
          <h1>Hi, I'm Jonathan 👋</h1>
          <p>
            A software engineer based in Seattle. I write about web technology and my dev journey.
          </p>
          <p class="hero-inner__social-icons">
            <a href="mailto:hello@jonathanyeong.com" class="u-mr1">
              <span class="visually-hidden">Email</span>
              {% include '../../assets/icons/envelope.svg' %}
            </a>
            <a href="https://github.com/jonathanyeong" class="u-mr1">
              <span class="visually-hidden">Github</span>
              {% include '../../assets/icons/github.svg' %}
            </a>
            <a href="https://www.instagram.com/jonathan.yeong/" class="u-mr1">
              <span class="visually-hidden">Instagram</span>
              {% include '../../assets/icons/instagram.svg' %}
            </a>
            <a href="https://www.linkedin.com/in/jonathan-yeong" class="u-mr1">
              <span class="visually-hidden">Linkedin</span>
              {% include '../../assets/icons/linkedin.svg' %}
            </a>
            <a href="https://twitter.com/JonoYeong" rel="me">
              <span class="visually-hidden">Twitter</span>
              {% include '../../assets/icons/twitter.svg' %}
            </a>
          </p>
        </div>
        <a href="#recentArticles" class="hero-circle">
          <span class="visually-hidden">Jump to Recent Articles</span>
          {% include '../../assets/icons/arrow.svg' %}
        </a>
      </div>
    {% endblock %}

    <main id="recentArticles" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>

    <footer class="footer u-pt5 u-pb2">
      <div class="footer__container">
        <div class="footer__mailchimp">
          {% include "../partials/mailchimp.njk" %}
        </div>
        <div class="footer__social-shares">
          <div class="footer__social-share-icons">
            <a href="{{ metadata.feed.path | url }} ">
              <span class="visually-hidden">RSS Feed</span>
              {% include '../../assets/icons/rss-feed.svg' %}
            </a>
            <a href="mailto:hello@jonathanyeong.com">
              <span class="visually-hidden">Email</span>
              {% include '../../assets/icons/envelope.svg' %}
            </a>
            <a href="https://twitter.com/JonoYeong" rel="me">
              <span class="visually-hidden">Twitter</span>
              {% include '../../assets/icons/twitter.svg' %}
            </a>
          </div>
        </div>
      </div>
      <p class="u-mt5">
        Made with 💙 © 2020 Jonathan Yeong
      </p>
    </footer>
  </body>
</html>
