{% extends 'layouts/base.njk' %}

{% block header %}
  <header class="hero">
    <div class="hero-inner">
      <h1>
        Hi, I'm Jonathan. <span class="hero-inner__secondary-text">This blog is where I’ll share what I’m learning. With a focus on Elixir, Javascript, and Developer growth.</span>
      </h1>
    </div>
  </header>
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}