---
templateClass: tmpl-post
---
{% extends 'layouts/base.njk' %}

{% block ogtags %}
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:url" content={{ page.url | url | absoluteUrl(metadata.url) }} />
  {% if description %}
    <meta property="og:description" content="{{ description }}" />
  {% endif %}
  {% if cover_image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="{{ cover_image }}" />
    <meta property="twitter:image" content="{{ cover_image }}" />
  {% endif %}
  <meta property="og:type" content="article" />
{% endblock %}

{% block header %}
<div class="tmpl-post hero">
  <div class="hero-inner">
    <h1 class="u-mt4 u-mb4">{{ title }}</h1>
  </div>
</div>
{% endblock %}

{% block content %}
  <main id="recentArticles" {% if templateClass %} class="{{ templateClass }}"{% endif %}>
    <div class="post-container u-pt3 u-pb3">
      {{ content | safe }}
    </div>
    {% include "../partials/newsletter-signup.njk" %}
  </main>
{% endblock %}