---
layout: layouts/post.njk
title: About Me
templateClass: tmpl-post
eleventyNavigation:
  key: About
  order: 3
---

<div class="tmpl-about-container">
  <div class="col-1">
    <img src="https://res.cloudinary.com/jonathan-yeong/image/upload/v1596067022/personal-blog/profile_pic_alznjm.jpg" alt="jonathan yeong" />
  </div>
  <div class="col-2">
    <p>
      Senior software engineer currently based in Seattle, WA, originally from Sydney, Australia. My developer journey started in 2014 as an iOS developer, but soon after, I found Ruby on Rails. Since then, I've built apps with Golang and scratched the surface with Clojure and Elixir. I love architecting solutions to technical challenges, exploring new languages and frameworks, and mentoring others.
    </p>

    <h2>Talks</h2>

    <ul>
      <li>
        Deep dive into Elixir | ElixirConf 2020 -
          <a href="https://www.youtube.com/watch?v=iNbqpT0elbA">Talk</a>
          <a href="https://speakerdeck.com/jonoyeong/deep-dive-into-elixir">Slides</a>
      </li>
      <li>
        Things I need to know about security -
        <a href="https://speakerdeck.com/jonoyeong/things-i-need-to-know-about-security">Slides</a>
      </li>
    </ul>

    <h2>Connect with me</h2>
    <ul>
      <li>Email: <a href="mailto:hello@jonathanyeong.com">hello@jonathanyeong.com</a></li>
      <li>Twitter: <a href="https://twitter.com/jonoyeong">@jonoyeong</a></li>
      <li>LinkedIn: <a href="https://www.linkedin.com/in/jonathan-yeong/">jonathanyeong</a></li>
    </ul>
  </div>
</div>

