---
layout: layouts/home.njk
---

{% set postslist = collections.posts | head(-7) %}
{% set postslistCounter = collections.posts | length %}
<h1>Recent Articles</h1>
{% include "postslist.njk" %}
<a href="{{ '/posts/' | url }}">See More</a>
