---
layout: layouts/home.njk
eleventyNavigation:
  key: Writing
  order: 2
templateClass: tmpl-post-list
---
{% set showYear = false %}
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
