<header class="hero">
  <div class="hero-inner">
    <h1>
      Hey there! I'm <span class="name-highlight"=>Jonathan</span>. <br />
      A Software Engineer.
    </h1>
    <p class="h5">
      I write about web development with <br />
      a focus on Javascript, Elixir, and Ruby
    </p>
  </div>
</header>