<header class="hero">
  <div class="hero-inner u-align-center">
    <h1>
      Hey there! I'm Jonathan. <br />
      A Software Engineer.
    </h1>
    <p class="h5">
      I write about web development with <br />
      a focus on Javascript, Elixir, and Ruby
    </p>
  </div>
</header>