<div id="mc_embed_signup" class="mailchimp__form">
  <form action="https://jonathanyeong.us10.list-manage.com/subscribe/post?u=8dfff6deae6f767edbb5f8e71&amp;id=39496fd42b"
    method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
    novalidate>
    <div id="mc_embed_signup_scroll">
      <h1>Want updates?</h1>
      <p>Sign up to get emails every other week about developer growth, learning, and creativity.</p>
      <div class="mailchimp__input">
        <label for="mce-EMAIL" class="visually-hidden">Enter Email</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
            name="b_8dfff6deae6f767edbb5f8e71_39496fd42b" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
            class="button">
      </div>
    </div>
  </form>
</div>