<div class="newsletter-signup">
  <div class="newsletter-signup__cta">
    <h2 class="h4">Want more resources to help you grow as a dev? </h2>
    <p>
      Subscribe to get learning plans for web dev and other
      resources to help you in your developer journey. I’ll also share more about
      my learning process, workflows, and behind the scenes!
    </p>
  </div>
  <form action="https://app.convertkit.com/forms/1989357/subscriptions" class="newsletter-signup__form" method="post">
    <div>
      <label for="newsletterFirstName">First Name</label>
      <input id="newsletterFirstName" aria-label="First Name" name="fields[first_name]" type="text">
    </div>
    <div>
      <label for="newsletterEmail">Email</label>
      <input id="newsletterEmail" name="email_address" aria-label="Email Address" required="" type="email">
    </div>
    <div class="newsletter-signup__submit-container">
      <button data-element="submit" class="newsletter-signup__submit">
        <span class="">Join the Newsletter!</span>
      </button>
    </div>
  </form>
</div>
