<article class="post-card u-mb1" aria-label="{{ post.data.title }}">
  <div class="post-card__inner">
    <p class="post-card__info">
      <time class="post-card__date text_small" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      |
      {% for tag in post.data.tags %}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="post-card__tag see-more__item">
            #{{ tag }}
            {%- if not loop.last -%}
            ,
            {%- endif -%}
          </a>
        {%- endif -%}
      {% endfor %}
    </p>

    <a href="{{ post.url | url }}" class="post-card__title h4">
      {{ post.data.title }}
    </a>

    <p class="post-card__excerpt">
      {% excerpt post %} <span class="post-card__read-more">Read More</span>
    </p>
  </div>
</article>