{% for post in postslist | reverse %}

  <a href="{{ post.url | url }}" class="postlist-item u-mb1">
    <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <span class="postlist-item__title">
      {{ post.data.title }}
    </span>
    <span class="postlist-item__excerpt">
      {% excerpt post %} <span class="postlist-read-more">Read More</span>
    </span>
  </a>
{% endfor %}